<div class="d-flex">
  <!-- Sidebar -->
  <div class='bg-dark border-right p-3' id='sidebar'>
    <h3 class='text-light'>Gif App</h3>
    <hr class='text-light'>
    <div class='list-group list-reset'>
      <a href="#" class="list-group-item list-group-action">
        Dashboard
      </a>
    </div>
  </div>
  <!-- Fin el sidebar -->


  <div class="container">
    <div class="row" p-3>
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>


  <hr/>
  <div class="row">
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, perspiciatis rem inventore provident porro quis
      quam esse ullam enim, quos saepe at beatae! Unde corrupti soluta dolorum modi, officia numquam.
   </div>
  </div>


</div>
</div>
